[Desktop Entry]
Name=感维科技remoteDesk
NoDisplay=true
MimeType=x-scheme-handler/ganweiremotedesk;
TryExec=ganwei-remotedesk
Exec=ganwei-remotedesk %u
Icon=ganwei-remotedesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=ganwei-remotedesk
