[Desktop Entry]
Name=感维科技remoteDesk
NoDisplay=true
MimeType=x-scheme-handler/rustdesk;
TryExec=rustdesk
Exec=rustdesk %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
